# Common
*.class
!.github/
!.gitignore
!.gitkeep
!.travis.yml

# Eclipse
.classpath
.project
.settings/
.recommenders/
.factorypath
/.metadata/

# Intellij
.idea/
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Mac
**/.DS_Store
.java-version

# VisualStudioCode artifacts
.vscode/

# Maven
log/
target/
dist/

# Python
venv/
eggs/
wheels/
*.pyc

# C/C++
inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/build/

# Gradle
.gradle

# Log
*.log