[submodule "tubemq-client-twins/tubemq-client-cpp/third_party/rapidjson"]
	path = tubemq-client-twins/tubemq-client-cpp/third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	tag = v1.1.0
