<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.AgentHeartbeatLogEntityMapper">
    <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.AgentHeartbeatLogEntity">
        <id column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="heartbeat_msg" jdbcType="LONGVARCHAR" property="heartbeatMsg"/>
    </resultMap>
    <sql id="Base_Column_List">
        ip, version, modify_time, heartbeat_msg
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from agent_heartbeat_log
        where ip = #{ip,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from agent_heartbeat_log
        where ip = #{ip,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="org.apache.inlong.manager.dao.entity.AgentHeartbeatLogEntity">
        insert into agent_heartbeat_log (ip, version, modify_time,
                                         heartbeat_msg)
        values (#{ip,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP},
                #{heartbeatMsg,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.apache.inlong.manager.dao.entity.AgentHeartbeatLogEntity">
        insert into agent_heartbeat_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ip != null">
                ip,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="heartbeatMsg != null">
                heartbeat_msg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="heartbeatMsg != null">
                #{heartbeatMsg,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="org.apache.inlong.manager.dao.entity.AgentHeartbeatLogEntity">
        update agent_heartbeat_log
        <set>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="heartbeatMsg != null">
                heartbeat_msg = #{heartbeatMsg,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where ip = #{ip,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.apache.inlong.manager.dao.entity.AgentHeartbeatLogEntity">
        update agent_heartbeat_log
        set version       = #{version,jdbcType=VARCHAR},
            modify_time   = #{modifyTime,jdbcType=TIMESTAMP},
            heartbeat_msg = #{heartbeatMsg,jdbcType=LONGVARCHAR}
        where ip = #{ip,jdbcType=VARCHAR}
    </update>
    <insert id="replace" parameterType="org.apache.inlong.manager.dao.entity.AgentHeartbeatLogEntity">
        replace into agent_heartbeat_log (ip, version, modify_time,
                                          heartbeat_msg)
        values (#{ip,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP},
                #{heartbeatMsg,jdbcType=LONGVARCHAR})
    </insert>
</mapper>