<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements. See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License. You may obtain a copy of the License at
  ~ <p>
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ <p>
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.CommonFileServerEntityMapper">
    <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.CommonFileServerEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="access_type" jdbcType="VARCHAR" property="accessType"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
        <result column="is_inner_ip" jdbcType="BIT" property="isInnerIp"/>
        <result column="issue_type" jdbcType="VARCHAR" property="issueType"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="visible_person" jdbcType="VARCHAR" property="visiblePerson"/>
        <result column="visible_group" jdbcType="VARCHAR" property="visibleGroup"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, access_type, ip, port, is_inner_ip, issue_type, username, password, status, is_deleted,
        creator, modifier, create_time, modify_time, visible_person, visible_group
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from common_file_server
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from common_file_server
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.apache.inlong.manager.dao.entity.CommonFileServerEntity">
        insert into common_file_server (id, access_type, ip, port,
                                        is_inner_ip, issue_type,
                                        username, password, status, is_deleted,
                                        creator, modifier, create_time,
                                        modify_time, visible_person, visible_group)
        values (#{id,jdbcType=INTEGER}, #{accessType,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
                #{port,jdbcType=INTEGER}, #{isInnerIp,jdbcType=INTEGER}, #{issueType,jdbcType=VARCHAR},
                #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
                #{isDeleted,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{visiblePerson,jdbcType=VARCHAR},
                #{visibleGroup,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.apache.inlong.manager.dao.entity.CommonFileServerEntity">
        insert into common_file_server
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="accessType != null">
                access_type,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="port != null">
                port,
            </if>
            <if test="isInnerIp != null">
                is_inner_ip,
            </if>
            <if test="issueType != null">
                issue_type,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="visiblePerson != null">
                visible_person,
            </if>
            <if test="visibleGroup != null">
                visible_group,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="accessType != null">
                #{accessType,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                #{port,jdbcType=INTEGER},
            </if>
            <if test="isInnerIp != null">
                #{isInnerIp,jdbcType=INTEGER},
            </if>
            <if test="issueType != null">
                #{issueType,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="visiblePerson != null">
                #{visiblePerson,jdbcType=VARCHAR},
            </if>
            <if test="visibleGroup != null">
                #{visibleGroup,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="org.apache.inlong.manager.dao.entity.CommonFileServerEntity">
        update common_file_server
        <set>
            <if test="accessType != null">
                access_type = #{accessType,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                port = #{port,jdbcType=INTEGER},
            </if>
            <if test="isInnerIp != null">
                is_inner_ip = #{isInnerIp,jdbcType=INTEGER},
            </if>
            <if test="issueType != null">
                issue_type = #{issueType,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="visiblePerson != null">
                visible_person = #{visiblePerson,jdbcType=VARCHAR},
            </if>
            <if test="visibleGroup != null">
                visible_group = #{visibleGroup,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.apache.inlong.manager.dao.entity.CommonFileServerEntity">
        update common_file_server
        set access_type    = #{accessType,jdbcType=VARCHAR},
            ip             = #{ip,jdbcType=VARCHAR},
            port           = #{port,jdbcType=INTEGER},
            is_inner_ip    = #{isInnerIp,jdbcType=INTEGER},
            issue_type     = #{issueType,jdbcType=VARCHAR},
            username       = #{username,jdbcType=VARCHAR},
            password       = #{password,jdbcType=VARCHAR},
            status         = #{status,jdbcType=INTEGER},
            is_deleted     = #{isDeleted,jdbcType=INTEGER},
            creator        = #{creator,jdbcType=VARCHAR},
            modifier       = #{modifier,jdbcType=VARCHAR},
            create_time    = #{createTime,jdbcType=TIMESTAMP},
            modify_time    = #{modifyTime,jdbcType=TIMESTAMP},
            visible_person = #{visiblePerson,jdbcType=VARCHAR},
            visible_group  = #{visibleGroup,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from common_file_server
        where is_deleted = 0
    </select>
    <select id="selectByUsernameAndIpPort" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from common_file_server
        where username = #{username,jdbcType=VARCHAR}
        and ip = #{ip,jdbcType=VARCHAR}
        and port = #{port,jdbcType=INTEGER}
        and is_deleted = 0
    </select>
    <select id="selectByCondition" resultMap="BaseResultMap"
            parameterType="org.apache.inlong.manager.common.pojo.commonserver.CommonFileServerPageRequest">
        select
        <include refid="Base_Column_List"/>
        from common_file_server
        <where>
            is_deleted = 0
            and (creator = #{currentUser,jdbcType=VARCHAR}
            or find_in_set(#{currentUser,jdbcType=VARCHAR},visible_person)
            <if test="userGroups!= null and userGroups.size() >0">
                <foreach collection="userGroups" item="group">
                    or find_in_set(#{group,jdbcType=VARCHAR},visible_group)
                </foreach>
            </if>
            )
            <if test="ip != null and ip != ''">
                and ip = #{ip, jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>