<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.ConsumptionEntityMapper">
    <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.ConsumptionEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="consumer_group_name" jdbcType="VARCHAR" property="consumerGroupName"/>
        <result column="consumer_group_id" jdbcType="VARCHAR" property="consumerGroupId"/>
        <result column="in_charges" jdbcType="VARCHAR" property="inCharges"/>
        <result column="business_identifier" jdbcType="VARCHAR" property="businessIdentifier"/>
        <result column="middleware_type" jdbcType="VARCHAR" property="middlewareType"/>
        <result column="topic" jdbcType="VARCHAR" property="topic"/>
        <result column="filter_enabled" jdbcType="INTEGER" property="filterEnabled"/>
        <result column="data_stream_identifier" jdbcType="VARCHAR" property="dataStreamIdentifier"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,  consumer_group_name, consumer_group_id, in_charges, business_identifier,
        middleware_type, topic, filter_enabled, data_stream_identifier,
        status, creator, modifier,create_time, modify_time, is_deleted>0
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from consumption
        where id = #{id,jdbcType=INTEGER} and is_deleted = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update consumption
        set is_deleted=id
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.apache.inlong.manager.dao.entity.ConsumptionEntity">
        insert into consumption (id, consumer_group_name, consumer_group_id, in_charges,
                                 business_identifier, middleware_type, topic,
                                 filter_enabled, data_stream_identifier,
                                 status, creator, modifier, create_time, modify_time,
                                 is_deleted)
        values (#{id,jdbcType=INTEGER}, #{consumerGroupName,jdbcType=VARCHAR},
                #{consumerGroupId,jdbcType=VARCHAR}, #{inCharges,jdbcType=VARCHAR},
                #{businessIdentifier,jdbcType=VARCHAR}, #{middlewareType,jdbcType=VARCHAR},
                #{topic,jdbcType=VARCHAR}, #{filterEnabled,jdbcType=INTEGER},
                #{dataStreamIdentifier,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR},
                #{modifier,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP},
                #{isDeleted,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective"
            parameterType="org.apache.inlong.manager.dao.entity.ConsumptionEntity">
        insert into consumption
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="consumerGroupName != null">
                consumer_group_name,
            </if>
            <if test="consumerGroupId != null">
                consumer_group_id,
            </if>
            <if test="inCharges != null">
                in_charges,
            </if>
            <if test="businessIdentifier != null">
                business_identifier,
            </if>
            <if test="middlewareType != null">
                middleware_type,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="filterEnabled != null">
                filter_enabled,
            </if>
            <if test="dataStreamIdentifier != null">
                data_stream_identifier,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="consumerGroupName != null">
                #{consumerGroupName,jdbcType=VARCHAR},
            </if>
            <if test="consumerGroupId != null">
                #{consumerGroupId,jdbcType=VARCHAR},
            </if>
            <if test="inCharges != null">
                #{inCharges,jdbcType=VARCHAR},
            </if>
            <if test="businessIdentifier != null">
                #{businessIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="middlewareType != null">
                #{middlewareType,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="filterEnabled != null">
                #{filterEnabled,jdbcType=INTEGER},
            </if>
            <if test="dataStreamIdentifier != null">
                #{dataStreamIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="org.apache.inlong.manager.dao.entity.ConsumptionEntity">
        update consumption
        <set>
            <if test="consumerGroupName != null">
                consumer_group_name = #{consumerGroupName,jdbcType=VARCHAR},
            </if>
            <if test="consumerGroupId != null">
                consumer_group_id = #{consumerGroupId,jdbcType=VARCHAR},
            </if>
            <if test="inCharges != null">
                in_charges = #{inCharges,jdbcType=VARCHAR},
            </if>
            <if test="businessIdentifier != null">
                business_identifier = #{businessIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="middlewareType != null">
                middleware_type = #{middlewareType,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                topic = #{topic,jdbcType=VARCHAR},
            </if>
            <if test="filterEnabled != null">
                filter_enabled = #{filterEnabled,jdbcType=INTEGER},
            </if>
            <if test="dataStreamIdentifier != null">
                data_stream_identifier = #{dataStreamIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER} and is_deleted=0
    </update>
    <update id="updateByPrimaryKey" parameterType="org.apache.inlong.manager.dao.entity.ConsumptionEntity">
        update consumption
        set consumer_group_name    = #{consumerGroupName,jdbcType=VARCHAR},
            consumer_group_id      = #{consumerGroupId,jdbcType=VARCHAR},
            in_charges             = #{inCharges,jdbcType=VARCHAR},
            business_identifier    = #{businessIdentifier,jdbcType=VARCHAR},
            middleware_type        = #{middlewareType,jdbcType=VARCHAR},
            topic                  = #{topic,jdbcType=VARCHAR},
            filter_enabled         = #{filterEnabled,jdbcType=INTEGER},
            data_stream_identifier = #{dataStreamIdentifier,jdbcType=VARCHAR},
            status                 = #{status,jdbcType=INTEGER},
            creator                = #{creator,jdbcType=VARCHAR},
            modifier               = #{modifier,jdbcType=VARCHAR},
            create_time            = #{createTime,jdbcType=TIMESTAMP},
            modify_time            = #{modifyTime,jdbcType=TIMESTAMP},
            is_deleted             = #{isDeleted,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
          and is_deleted = 0
    </update>

    <select id="listByQuery"
            parameterType="org.apache.inlong.manager.common.pojo.dataconsumption.ConsumptionQuery"
            resultMap="BaseResultMap">
        select
        c.*
        from consumption c
        where c.is_deleted=0
        <if test="consumerGroupName != null and consumerGroupName != ''">
            and c.consumer_group_name = #{consumerGroupName,jdbcType=VARCHAR}
        </if>
        <if test="consumerGroupId != null and consumerGroupId != ''">
            and c.consumer_group_id = #{consumerGroupId,jdbcType=VARCHAR}
        </if>
        <if test="consumerGroupIdLike != null and consumerGroupIdLike != ''">
            <bind name="consumerGroupIdLike" value="'%' + _parameter.consumerGroupIdLike + '%'"/>
            and c.consumer_group_id like #{consumerGroupIdLike,jdbcType=VARCHAR}
        </if>
        <if test="inCharges != null and inCharges != ''">
            and FIND_IN_SET(#{inCharges,jdbcType=VARCHAR}, c.in_charges)
        </if>
        <if test="businessIdentifier != null and businessIdentifier != ''">
            and c.business_identifier = #{businessIdentifier,jdbcType=VARCHAR}
        </if>
        <if test="middlewareType != null and middlewareType != ''">
            and c.middleware_type = #{middlewareType,jdbcType=VARCHAR}
        </if>
        <if test="topic != null and topic != ''">
            and c.topic = #{topic,jdbcType=VARCHAR}
        </if>
        <if test="topicLike != null and topicLike != ''">
            <bind name="topicLike" value="'%' + _parameter.topicLike + '%'"/>
            and c.topic like #{topicLike,jdbcType=VARCHAR}
        </if>
        <if test="filterEnabled != null">
            and c.filter_enabled = #{filterEnabled,jdbcType=INTEGER}
        </if>
        <if test="dataStreamIdentifier != null and dataStreamIdentifier != ''">
            and c.data_stream_identifier = #{dataStreamIdentifier,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and c.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="creator != null and creator != ''">
            and c.creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="modifier != null and modifier != ''">
            and c.modifier = #{modifier,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName !=''">
            and (
            FIND_IN_SET(#{userName,jdbcType=VARCHAR},c.in_charges)
            or
            c.creator = #{userName,jdbcType=VARCHAR}
            )
        </if>
        <if test="keyword != null and keyword !=''">
            <bind name="keyword" value="'%' + _parameter.keyword + '%'"/>
            and (
            c.topic like #{keyword,jdbcType=VARCHAR}
            or c.consumer_group_id like #{keyword,jdbcType=VARCHAR}
            )
        </if>
        <if test="lastConsumptionStatus!=null and lastConsumptionStatus!=3">
            and cas.latest_record_state=#{lastConsumptionStatus, jdbcType=INTEGER}
        </if>
        <if test="lastConsumptionStatus!=null and lastConsumptionStatus==3">
            and (cas.latest_record_state=#{lastConsumptionStatus, jdbcType=INTEGER}
            or cas.latest_record_state is null)
        </if>
        order by id desc
    </select>

    <select id="countByStatus"
            parameterType="org.apache.inlong.manager.common.pojo.dataconsumption.ConsumptionQuery"
            resultType="org.apache.inlong.manager.workflow.model.view.CountByKey">
        select
        status as `key`,count(1) as value
        from consumption
        where is_deleted=0
        <if test="consumerGroupName != null and consumerGroupName != ''">
            and consumer_group_name = #{consumerGroupName,jdbcType=VARCHAR}
        </if>
        <if test="consumerGroupId != null and consumerGroupId != ''">
            and consumer_group_id = #{consumerGroupId,jdbcType=VARCHAR}
        </if>
        <if test="consumerGroupIdLike != null and consumerGroupIdLike != ''">
            <bind name="consumerGroupIdLike" value="'%' + _parameter.consumerGroupIdLike + '%'"/>
            and consumer_group_id like #{consumerGroupIdLike,jdbcType=VARCHAR}
        </if>
        <if test="inCharges != null and inCharges != ''">
            and FIND_IN_SET(#{inCharges,jdbcType=VARCHAR},in_charges)
        </if>
        <if test="businessIdentifier != null and businessIdentifier != ''">
            and business_identifier = #{businessIdentifier,jdbcType=VARCHAR}
        </if>
        <if test="middlewareType != null and middlewareType != ''">
            and middleware_type = #{middlewareType,jdbcType=VARCHAR}
        </if>
        <if test="topic != null and topic != ''">
            and topic = #{topic,jdbcType=VARCHAR}
        </if>
        <if test="topicLike != null and topicLike != ''">
            <bind name="topicLike" value="'%' + _parameter.topicLike + '%'"/>
            and topic like #{topicLike,jdbcType=VARCHAR}
        </if>
        <if test="filterEnabled != null">
            and filter_enabled = #{filterEnabled,jdbcType=INTEGER}
        </if>
        <if test="dataStreamIdentifier != null and dataStreamIdentifier != ''">
            and data_stream_identifier = #{dataStreamIdentifier,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and status = #{status,jdbcType=INTEGER}
        </if>
        <if test="creator != null and creator != ''">
            and creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="modifier != null and modifier != ''">
            and modifier = #{modifier,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName !=''">
            and (
            FIND_IN_SET(#{userName,jdbcType=VARCHAR},in_charges)
            or
            creator = #{userName,jdbcType=VARCHAR}
            )
        </if>
        <if test="keyword != null and keyword !=''">
            <bind name="keyword" value="'%' + _parameter.keyword + '%'"/>
            and (
            topic like #{keyword,jdbcType=VARCHAR}
            or consumer_group_id like #{keyword,jdbcType=VARCHAR}
            )
        </if>
        group by status
    </select>
</mapper>
