<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.DataProxyClusterEntityMapper">
    <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.DataProxyClusterEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="port" jdbcType="VARCHAR" property="port"/>
        <result column="is_backup" jdbcType="INTEGER" property="isBackup"/>
        <result column="is_inner_ip" jdbcType="INTEGER" property="isInnerIp"/>
        <result column="net_type" jdbcType="VARCHAR" property="netType"/>
        <result column="in_charges" jdbcType="VARCHAR" property="inCharges"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="ext_props" jdbcType="LONGVARCHAR" property="extProps"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, description, address, port, is_backup, is_inner_ip, net_type,
        in_charges, status, is_deleted, creator, modifier, create_time, modify_time, ext_props
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from data_proxy_cluster
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultType="org.apache.inlong.manager.dao.entity.DataProxyClusterEntity">
        select
        <include refid="Base_Column_List"/>
        from data_proxy_cluster
        where is_deleted = 0
    </select>
    <select id="selectByCondition" resultType="org.apache.inlong.manager.dao.entity.DataProxyClusterEntity"
            parameterType="org.apache.inlong.manager.common.pojo.cluster.DataProxyClusterPageRequest">
        select
        <include refid="Base_Column_List"/>
        from data_proxy_cluster
        <where>
            is_deleted = 0
            and find_in_set(#{currentUser,jdbcType=VARCHAR}, in_charges)
            <if test="keyWord != null and keyWord != ''">
                and (name like CONCAT('%', #{keyWord}, '%') or description like CONCAT('%', #{keyWord}, '%'))
            </if>
            <if test="status != null and status != ''">
                and status = #{status, jdbcType=INTEGER}
            </if>
        </where>
        order by modify_time desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from data_proxy_cluster
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.apache.inlong.manager.dao.entity.DataProxyClusterEntity">
        insert into data_proxy_cluster (id, name, description,
                                        address, port, is_backup,
                                        is_inner_ip, net_type,
                                        in_charges, status, is_deleted,
                                        creator, modifier, create_time,
                                        modify_time, ext_props)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, #{isBackup,jdbcType=INTEGER},
                #{isInnerIp,jdbcType=INTEGER}, #{netType,jdbcType=VARCHAR},
                #{inCharges,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER},
                #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{modifyTime,jdbcType=TIMESTAMP}, #{extProps,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.apache.inlong.manager.dao.entity.DataProxyClusterEntity">
        insert into data_proxy_cluster
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="port != null">
                port,
            </if>
            <if test="isBackup != null">
                is_backup,
            </if>
            <if test="isInnerIp != null">
                is_inner_ip,
            </if>
            <if test="netType != null">
                net_type,
            </if>
            <if test="inCharges != null">
                in_charges,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="extProps != null">
                ext_props,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                #{port,jdbcType=VARCHAR},
            </if>
            <if test="isBackup != null">
                #{isBackup,jdbcType=INTEGER},
            </if>
            <if test="isInnerIp != null">
                #{isInnerIp,jdbcType=INTEGER},
            </if>
            <if test="netType != null">
                #{netType,jdbcType=VARCHAR},
            </if>
            <if test="inCharges != null">
                #{inCharges,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="extProps != null">
                #{extProps,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="org.apache.inlong.manager.dao.entity.DataProxyClusterEntity">
        update data_proxy_cluster
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                port = #{port,jdbcType=VARCHAR},
            </if>
            <if test="isBackup != null">
                is_backup = #{isBackup,jdbcType=INTEGER},
            </if>
            <if test="isInnerIp != null">
                is_inner_ip = #{isInnerIp,jdbcType=INTEGER},
            </if>
            <if test="netType != null">
                net_type = #{netType,jdbcType=VARCHAR},
            </if>
            <if test="inCharges != null">
                in_charges = #{inCharges,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="extProps != null">
                ext_props = #{extProps,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.apache.inlong.manager.dao.entity.DataProxyClusterEntity">
        update data_proxy_cluster
        set name        = #{name,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            address     = #{address,jdbcType=VARCHAR},
            port        = #{port,jdbcType=VARCHAR},
            is_backup   = #{isBackup,jdbcType=INTEGER},
            is_inner_ip = #{isInnerIp,jdbcType=INTEGER},
            net_type    = #{netType,jdbcType=VARCHAR},
            in_charges  = #{inCharges,jdbcType=VARCHAR},
            status      = #{status,jdbcType=INTEGER},
            is_deleted  = #{isDeleted,jdbcType=INTEGER},
            creator     = #{creator,jdbcType=VARCHAR},
            modifier    = #{modifier,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            ext_props   = #{extProps,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>