<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.GroupHeartbeatEntityMapper">
  <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.GroupHeartbeatEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="instance" jdbcType="VARCHAR" property="instance" />
    <result column="inlong_group_id" jdbcType="VARCHAR" property="inlongGroupId" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.apache.inlong.manager.dao.entity.GroupHeartbeatEntityWithBLOBs">
    <result column="status_heartbeat" jdbcType="LONGVARCHAR" property="statusHeartbeat" />
    <result column="metric_heartbeat" jdbcType="LONGVARCHAR" property="metricHeartbeat" />
  </resultMap>
  <sql id="Base_Column_List">
    id, component, instance, inlong_group_id, report_time, modify_time, create_time
  </sql>
  <sql id="Blob_Column_List">
    status_heartbeat, metric_heartbeat
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from group_heartbeat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from group_heartbeat
    where component = #{component,jdbcType=VARCHAR} and instance = #{instance,jdbcType=VARCHAR} and inlong_group_id = #{inlongGroupId,jdbcType=VARCHAR}
  </select>
  <select id="selectHeartbeats" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from group_heartbeat
    where component = #{component,jdbcType=VARCHAR} and instance = #{instance,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from group_heartbeat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.apache.inlong.manager.dao.entity.GroupHeartbeatEntityWithBLOBs">
    insert into group_heartbeat (component, instance,
      inlong_group_id, report_time, status_heartbeat, metric_heartbeat
      )
    values (#{component,jdbcType=VARCHAR}, #{instance,jdbcType=VARCHAR},
      #{inlongGroupId,jdbcType=VARCHAR}, #{reportTime,jdbcType=TIMESTAMP}, #{statusHeartbeat,jdbcType=LONGVARCHAR}, #{metricHeartbeat,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByKeyWithBLOBs" parameterType="org.apache.inlong.manager.dao.entity.GroupHeartbeatEntityWithBLOBs">
    update group_heartbeat
    set
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      status_heartbeat = #{statusHeartbeat,jdbcType=LONGVARCHAR},
      metric_heartbeat = #{metricHeartbeat,jdbcType=LONGVARCHAR}
    where component = #{component,jdbcType=VARCHAR} and instance = #{instance,jdbcType=VARCHAR} and inlong_group_id = #{inlongGroupId,jdbcType=VARCHAR}
  </update>
</mapper>