<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements. See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership. The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License. You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.InlongLabelNodeRelationEntityMapper">
  <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.InlongLabelNodeRelationEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="label_id" jdbcType="INTEGER" property="labelId" />
    <result column="node_id" jdbcType="INTEGER" property="nodeId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, label_id, node_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inlong_label_node_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByNodeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from inlong_label_node_relation
    where node_id = #{nodeId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="org.apache.inlong.manager.dao.entity.InlongLabelNodeRelationEntity">
    insert into inlong_label_node_relation (id, label_id, node_id
      )
    values (#{id,jdbcType=INTEGER}, #{labelId,jdbcType=INTEGER}, #{nodeId,jdbcType=INTEGER}
      )
  </insert>
  <delete id="deleteByNodeId" parameterType="java.lang.Integer">
    delete from inlong_label_node_relation
    where node_id = #{nodeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLabelNodeKV">
    delete from inlong_label_node_relation
    where node_id = #{nodeId,jdbcType=INTEGER} and label_id = #{labelId,jdbcType=INTEGER}
  </delete>
</mapper>