<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.SourceDbBasicEntityMapper">
    <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.SourceDbBasicEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="business_identifier" jdbcType="VARCHAR" property="businessIdentifier"/>
        <result column="data_stream_identifier" jdbcType="VARCHAR" property="dataStreamIdentifier"/>
        <result column="sync_type" jdbcType="INTEGER" property="syncType"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="temp_view" jdbcType="LONGVARCHAR" property="tempView"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, business_identifier, data_stream_identifier, sync_type, is_deleted,
        creator, modifier, create_time, modify_time, temp_view
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from source_db_basic
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByIdentifier" resultType="org.apache.inlong.manager.dao.entity.SourceDbBasicEntity">
        select
        <include refid="Base_Column_List"/>
        from source_db_basic
        where business_identifier = #{bid, jdbcType=VARCHAR}
        and data_stream_identifier = #{dsid, jdbcType=VARCHAR}
        and is_deleted = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from source_db_basic
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByIdentifier">
        delete
        from source_db_basic
        where business_identifier = #{bid, jdbcType=VARCHAR}
          and data_stream_identifier = #{dsid, jdbcType=VARCHAR}
          and is_deleted = 0
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.apache.inlong.manager.dao.entity.SourceDbBasicEntity">
        insert into source_db_basic (id, business_identifier, data_stream_identifier,
                                     sync_type, is_deleted, creator,
                                     modifier, create_time, modify_time,
                                     temp_view)
        values (#{id,jdbcType=INTEGER}, #{businessIdentifier,jdbcType=VARCHAR},
                #{dataStreamIdentifier,jdbcType=VARCHAR},
                #{syncType,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR},
                #{modifier,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP},
                #{tempView,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.apache.inlong.manager.dao.entity.SourceDbBasicEntity">
        insert into source_db_basic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="businessIdentifier != null">
                business_identifier,
            </if>
            <if test="dataStreamIdentifier != null">
                data_stream_identifier,
            </if>
            <if test="syncType != null">
                sync_type,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="tempView != null">
                temp_view,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="businessIdentifier != null">
                #{businessIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="dataStreamIdentifier != null">
                #{dataStreamIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="syncType != null">
                #{syncType,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tempView != null">
                #{tempView,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.apache.inlong.manager.dao.entity.SourceDbBasicEntity">
        update source_db_basic
        <set>
            <if test="businessIdentifier != null">
                business_identifier = #{businessIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="dataStreamIdentifier != null">
                data_stream_identifier = #{dataStreamIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="syncType != null">
                sync_type = #{syncType,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tempView != null">
                temp_view = #{tempView,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.apache.inlong.manager.dao.entity.SourceDbBasicEntity">
        update source_db_basic
        set business_identifier    = #{businessIdentifier,jdbcType=VARCHAR},
            data_stream_identifier = #{dataStreamIdentifier,jdbcType=VARCHAR},
            sync_type              = #{syncType,jdbcType=INTEGER},
            is_deleted             = #{isDeleted,jdbcType=INTEGER},
            creator                = #{creator,jdbcType=VARCHAR},
            modifier               = #{modifier,jdbcType=VARCHAR},
            create_time            = #{createTime,jdbcType=TIMESTAMP},
            modify_time            = #{modifyTime,jdbcType=TIMESTAMP},
            temp_view              = #{tempView,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="logicDeleteByIdentifier">
        update source_db_basic
        set is_deleted = 1,
            modifier   = #{operator,jdbcType=VARCHAR}
        where business_identifier = #{bid, jdbcType=VARCHAR}
          and data_stream_identifier = #{dsid, jdbcType=VARCHAR}
          and is_deleted = 0
    </update>
</mapper>