<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.StreamMetricEntityMapper">
  <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.StreamMetricEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="inlong_stream_id" jdbcType="VARCHAR" property="inlongStreamId" />
    <result column="inlong_group_id" jdbcType="VARCHAR" property="inlongGroupId" />
    <result column="component_name" jdbcType="VARCHAR" property="componentName" />
    <result column="metric_name" jdbcType="VARCHAR" property="metricName" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.apache.inlong.manager.dao.entity.StreamMetricEntity">
    <result column="metric_info" jdbcType="LONGVARCHAR" property="metricInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, version, inlong_stream_id, inlong_group_id, component_name, metric_name, 
    report_time, modify_time
  </sql>
  <sql id="Blob_Column_List">
    metric_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from stream_metric
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stream_metric
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.apache.inlong.manager.dao.entity.StreamMetricEntity">
    insert into stream_metric (id, ip, version, 
      inlong_stream_id, inlong_group_id, component_name, 
      metric_name, report_time, modify_time, 
      metric_info)
    values (#{id,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{inlongStreamId,jdbcType=VARCHAR}, #{inlongGroupId,jdbcType=VARCHAR}, #{componentName,jdbcType=VARCHAR}, 
      #{metricName,jdbcType=VARCHAR}, #{reportTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{metricInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertList" parameterType="org.apache.inlong.manager.dao.entity.StreamMetricEntity">
    insert into stream_metric (id, ip, version,
      inlong_stream_id, inlong_group_id, component_name,
      metric_name, report_time,
      metric_info)
    values
    <foreach collection="list" index="index" item="item" open="" close="" separator=",">
      (#{item.ip,jdbcType=VARCHAR}, #{item.version,jdbcType=VARCHAR},
      #{item.inlongStreamId,jdbcType=VARCHAR}, #{item.inlongGroupId,jdbcType=VARCHAR}, #{item.componentName,jdbcType=VARCHAR},
      #{item.metricName,jdbcType=VARCHAR}, #{item.reportTime,jdbcType=TIMESTAMP},
      #{item.metricInfo,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="org.apache.inlong.manager.dao.entity.StreamMetricEntity">
    insert into stream_metric
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="inlongStreamId != null">
        inlong_stream_id,
      </if>
      <if test="inlongGroupId != null">
        inlong_group_id,
      </if>
      <if test="componentName != null">
        component_name,
      </if>
      <if test="metricName != null">
        metric_name,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="metricInfo != null">
        metric_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="inlongStreamId != null">
        #{inlongStreamId,jdbcType=VARCHAR},
      </if>
      <if test="inlongGroupId != null">
        #{inlongGroupId,jdbcType=VARCHAR},
      </if>
      <if test="componentName != null">
        #{componentName,jdbcType=VARCHAR},
      </if>
      <if test="metricName != null">
        #{metricName,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="metricInfo != null">
        #{metricInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.apache.inlong.manager.dao.entity.StreamMetricEntity">
    update stream_metric
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="inlongStreamId != null">
        inlong_stream_id = #{inlongStreamId,jdbcType=VARCHAR},
      </if>
      <if test="inlongGroupId != null">
        inlong_group_id = #{inlongGroupId,jdbcType=VARCHAR},
      </if>
      <if test="componentName != null">
        component_name = #{componentName,jdbcType=VARCHAR},
      </if>
      <if test="metricName != null">
        metric_name = #{metricName,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="metricInfo != null">
        metric_info = #{metricInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.apache.inlong.manager.dao.entity.StreamMetricEntity">
    update stream_metric
    set ip = #{ip,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      inlong_stream_id = #{inlongStreamId,jdbcType=VARCHAR},
      inlong_group_id = #{inlongGroupId,jdbcType=VARCHAR},
      component_name = #{componentName,jdbcType=VARCHAR},
      metric_name = #{metricName,jdbcType=VARCHAR},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      metric_info = #{metricInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.apache.inlong.manager.dao.entity.StreamMetricEntity">
    update stream_metric
    set ip = #{ip,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      inlong_stream_id = #{inlongStreamId,jdbcType=VARCHAR},
      inlong_group_id = #{inlongGroupId,jdbcType=VARCHAR},
      component_name = #{componentName,jdbcType=VARCHAR},
      metric_name = #{metricName,jdbcType=VARCHAR},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>