<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements. See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License. You may obtain a copy of the License at
  ~ <p>
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ <p>
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.TaskEntityMapper">
    <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.TaskEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="taskflow_id" jdbcType="BIGINT" property="taskflowId"/>
        <result column="task_def_id" jdbcType="BIGINT" property="taskDefId"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="post_param" jdbcType="VARCHAR" property="postParam"/>
        <result column="resultmsg" jdbcType="VARCHAR" property="resultmsg"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, taskflow_id, task_def_id, task_name, status, post_param, resultmsg, create_time,
    create_by, update_time, update_by
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from task
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from task
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="org.apache.inlong.manager.dao.entity.TaskEntity">
        insert into task (id, taskflow_id, task_def_id,
                          task_name, status, post_param,
                          resultmsg, create_time, create_by,
                          update_time, update_by)
        values (#{id,jdbcType=BIGINT}, #{taskflowId,jdbcType=BIGINT}, #{taskDefId,jdbcType=BIGINT},
                #{taskName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{postParam,jdbcType=VARCHAR},
                #{resultmsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
                #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.apache.inlong.manager.dao.entity.TaskEntity">
        insert into task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskflowId != null">
                taskflow_id,
            </if>
            <if test="taskDefId != null">
                task_def_id,
            </if>
            <if test="taskName != null">
                task_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="postParam != null">
                post_param,
            </if>
            <if test="resultmsg != null">
                resultmsg,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="taskflowId != null">
                #{taskflowId,jdbcType=BIGINT},
            </if>
            <if test="taskDefId != null">
                #{taskDefId,jdbcType=BIGINT},
            </if>
            <if test="taskName != null">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="postParam != null">
                #{postParam,jdbcType=VARCHAR},
            </if>
            <if test="resultmsg != null">
                #{resultmsg,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="org.apache.inlong.manager.dao.entity.TaskEntity">
        update task
        <set>
            <if test="taskflowId != null">
                taskflow_id = #{taskflowId,jdbcType=BIGINT},
            </if>
            <if test="taskDefId != null">
                task_def_id = #{taskDefId,jdbcType=BIGINT},
            </if>
            <if test="taskName != null">
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="postParam != null">
                post_param = #{postParam,jdbcType=VARCHAR},
            </if>
            <if test="resultmsg != null">
                resultmsg = #{resultmsg,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="org.apache.inlong.manager.dao.entity.TaskEntity">
        update task
        set taskflow_id = #{taskflowId,jdbcType=BIGINT},
            task_def_id = #{taskDefId,jdbcType=BIGINT},
            task_name   = #{taskName,jdbcType=VARCHAR},
            status      = #{status,jdbcType=VARCHAR},
            post_param  = #{postParam,jdbcType=VARCHAR},
            resultmsg   = #{resultmsg,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            create_by   = #{createBy,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            update_by   = #{updateBy,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
