<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60s">
	<!--日志配置-->
	<property name="PROJECT_NAME" value="audit-store"/>
	<property name="LOG_BACK_DIR" value="logs"/>

	<!-- logback 工程的日志配置-->
	<appender name="INFO_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_BACK_DIR}/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_BACK_DIR}/info-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
			<maxFileSize>1024MB</maxFileSize>
			<maxHistory>2</maxHistory>
			<totalSizeCap>50GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印INFO日志 -->
			<!--过滤 INFO-->
			<level>INFO</level>
			<!--匹配到就禁止-->
			<onMatch>ACCEPT</onMatch>
			<!--没有匹配到就允许-->
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="ERROR_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_BACK_DIR}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_BACK_DIR}/error-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
			<maxFileSize>1024MB</maxFileSize>
			<maxHistory>2</maxHistory>
			<totalSizeCap>50GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印ERROR日志 -->
			<!--过滤 ERROR-->
			<level>ERROR</level>
			<!--匹配到就禁止-->
			<onMatch>ACCEPT</onMatch>
			<!--没有匹配到就允许-->
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="DEBUG_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_BACK_DIR}/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_BACK_DIR}/debug-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
			<maxFileSize>1024MB</maxFileSize>
			<maxHistory>2</maxHistory>
			<totalSizeCap>50GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印DEBUG日志 -->
			<!--过滤 ERROR-->
			<level>DEBUG</level>
			<!--匹配到就禁止-->
			<onMatch>ACCEPT</onMatch>
			<!--没有匹配到就允许-->
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 开发环境使用 打印在控制台-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern"
				   value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{threadId}|%X{traceId}-%X{rpcId}|%level|%C|%M|%L|uid=%X{uid},deviceId=%X{deviceId},sessionId=%X{sessionId},requestId=%X{requestId},tradeId=%X{tradeId},clientIp=%X{clientIp}|%.-512msg|%X{callChain}%n"/>
		</layout>
	</appender>

	<appender name="DefaultAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_BACK_DIR}/log/agent_default.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_BACK_DIR}/log/otherdays/http_default-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>16MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<!--开发环境为DEBUG等级-->
	<root level="DEBUG">
		<appender-ref ref="INFO_ROLLING"/>
		<appender-ref ref="DEBUG_ROLLING"/>
		<appender-ref ref="ERROR_ROLLING"/>
	</root>
</configuration>
